# UFO Casus

In [146]:
import numpy as np
import pandas as pd

In [147]:
dataUfo = pd.read_csv("datasets/ufo.csv") # Fixen!!

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Data cleaning

In [148]:
del dataUfo['visit (seconds)']
del dataUfo['duration (seconds)']
del dataUfo['comments']
del dataUfo['duration (hours/min)']
del dataUfo['date posted']

dataUfo = dataUfo.dropna()

### Opgeschoond dataframepie ufo's

In [149]:
dataUfo

,datetime,city,state,country,shape,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,41.1175000,-73.408333
...,...,...,...,...,...,...,...
88674,9/9/2013 22:00,napa,ca,us,other,38.2972,-122.284444
88675,9/9/2013 22:20,vienna,va,us,circle,38.9011,-77.265556
88676,9/9/2013 23:00,edmond,ok,us,cigar,35.6528,-97.477778
88677,9/9/2013 23:00,starr,sc,us,diamond,34.3769,-82.695833
88678,9/9/2013 23:30,ft. lauderdale,fl,us,oval,26.1219,-80.143611

In [ ]:
###

In [150]:
dataPop = pd.read_csv("datasets/population.csv")
dataPop = dataPop[dataPop.year >= 1940]
dataPop

    year  population
33  1940   132164569
34  1950   151325798
35  1960   179323175
36  1970   203211926
37  1980   226545805
38  1990   248709873
39  2000   281421906
40  2010   308745538
41  2020   332639000