# UFO Casus

In [218]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [221]:
date_parser = pd.to_datetime
dataUfo = pd.read_csv("datasets/ufo.csv") # Fixen!!

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (6,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Data cleaning

In [ ]:
del dataUfo['visit (seconds)']
del dataUfo['duration (seconds)']
del dataUfo['comments']
del dataUfo['duration (hours/min)']
del dataUfo['date posted']

dataUfo = dataUfo.dropna()

### Opgeschoond dataframepie ufo's

In [ ]:
dataUfo

In [ ]:
dataUfo.dtypes

### USA population en jaartal vanaf 1940

In [220]:
dataPop = pd.read_csv("datasets/population.csv")
dataPop = dataPop[dataPop.year >= 1940]
dataPop

    year  population
33  1940   132164569
34  1950   151325798
35  1960   179323175
36  1970   203211926
37  1980   226545805
38  1990   248709873
39  2000   281421906
40  2010   308745538
41  2020   332639000

#### Visualiseren

In [ ]:
ax = dataPop.plot(x='year', y='population')
ax.set_xlabel('Jaartal')
ax.set_ylabel('Bevolking in hondermiljoenen')